.perspective-container {
    perspective: 2500px;
}

.cuboid-3d {
    transform-style: preserve-3d;
    position: relative;
}

.cuboid-face {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}